extends layout

block content
  h1.text-center Admitted Insider
  p.lead.text-center Organising and managing application process for prospective students.
  hr
  .row
    .col-sm-6
      h2 Heading
      p Website for organising and managing application process for prospective students.
      p
        a.btn.btn-default(href='#', role='button') View details »