extends layout

block content
  h1.text-center Admitted Insider
  p.lead.text-center Organising and managing application process for prospective students.
  hr
  .row
    .col-sm-6
      h2 What is Admitted Insider?
      p It is a website for organising and managing application process for prospective students. Features include adding cards for different universities with names, descriptions, and deadlines. Students can further add cards specific to each university like the GRE or TOEFL card.
      p The material design interface of this website makes it easy for new users to navigate around and get familiarised with the website's features.