
.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: auto;
  background: #aaf;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.form-card{
	margin: 10px;
}