
.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: auto;
  background: #aaf;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.form-card{
	margin: 10px;
}

.mdl-card{
	width: 280px !important;
}
.mdl-card__title{
	padding: 10px !important;
}

.mdl-card__supporting-text{
	padding: 14px !important;
}
.mdl-textfield{
	padding: 14px 0  !important;
}
.mdl-textfield__input{
	font-size: 14px !important;
}

.mdl-textfield__label{
	font-size: 14px !important;
}

.mdl-layout {
    width: 80% !important;
    height: 90% !important;
}